#--find-links wheelhouse
future
Flask==0.10.1
wfastcgi==2.2
requests==2.8.1
Pillow
xmltodict==0.9.2
redis
wheel==0.26.0
opencv-python

scikit-learn
# scipy
matplotlib
scikit_image
EasyDict
dlib

./cntk-2.0rc1-cp35-cp35m-linux_x86_64.whl
scipy
pytz==2016.10
azure==1.0.3
azure-storage==0.34.0
pydocumentdb==2.0.1
