Flask==0.11.1
Wheels\numpy-1.12.1+mkl-cp35-cp35m-win_amd64.whl
Wheels\scipy-0.19.0-cp35-cp35m-win_amd64.whl
Wheels\Pillow-4.0.0-cp35-cp35m-win_amd64.whl
future
wfastcgi==2.2
requests==2.8.1
xmltodict==0.9.2
redis
flask_cors
wheel==0.26.0
Wheels\opencv_python-3.2.0-cp35-cp35m-win_amd64.whl
scikit-learn
matplotlib
Wheels\scikit_image-0.12.3-cp35-cp35m-win_amd64.whl
EasyDict
Wheels\dlib-19.1.0-cp35-cp35m-win_amd64.whl
pytz
azure
azure-storage
datetime
pydocumentdb
